.navbar {
  /*color: white;*/
  background-color: #584056;
}

.navbar-brand {
  color: white;
}

img {
  width: 10%;
  /*width: 100px;*/
  height: auto;
}

.container {
  /*height: 342px;*/
  width: 800px;
  margin-top: 25px;
  background-color: #E5E5E5;
}

